@import url("https://fonts.googleapis.com/css2?family=Monserrat:wght@200;400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Monserrat";
  list-style: none;
}

body {
  width: 100%;
}

.grid-container {
  background-color: #d5effb;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "slide slide slide"
    "we-contain we-contain we-contain"
    "productos productos productos"
    "contacto contacto contacto"
    "footer footer footer";
  padding-top: 35px;
  width: 100%;
}

/* SECCIÓN HEADER */

.header {
  background-color: #fff;
  border: 1px solid #ddd;
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 100px;
}

.container-logo {
  width: 160px;
  height: 80px;
  object-fit: cover;
}

.logo {
  width: 100%;
  height: 100%;
}

.menu-ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-li {
  font-size: 18px;
  text-align: center;
  border-right: 1px solid #0b5ecd;
  padding: 10px;
}

.menu-li a {
  color: #000;
  text-decoration: none;
  transition: 0.4s;
}

.menu-li a:hover {
  color: #0b5ecd;
}

.menu-ul .seleccionado {
  color: #0b5ecd;
}

#icono-nav {
  display: none;
}

/* SECCIÓN PORTADA SLIDE */

.portada-slide {
  grid-area: slide;
  color: white;
  text-align: center;
  overflow: hidden;
}

.portada-slide ul {
  display: flex;
  width: 300%;
  height: calc(100vh - 35px);
  animation: slide 12s infinite normal ease-in-out;
}

.portada-slide li {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada-slide li h2 {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  color: #fff;
}

.portada-slide li:first-child {
  background-image: url("img/slider-1.jpg");
}

.portada-slide li:first-child h2 {
  margin: 200px 700px 0 0;
  width: 600px;
}

.portada-slide li:nth-child(2) {
  background-image: url("img/slider-2.jpg");
}

.portada-slide li:nth-child(2) h2 {
  margin: 350px 0 0 0;
  width: 1200px;
  color: #0b5ecd;
}

.portada-slide li:nth-child(3) {
  background-image: url("img/slider-3.jpg");
}

.portada-slide li:nth-child(3) h2 {
  margin: 50px 550px 0 0;
  width: 600px;
}

.portada-slide li,
.portada-slide img {
  height: 100%;
  width: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0%;
  }

  30% {
    margin-left: 0%;
  }

  35% {
    margin-left: -100%;
  }

  65% {
    margin-left: -100%;
  }

  70% {
    margin-left: -200%;
  }

  100% {
    margin-left: -200%;
  }
}

/* -------------------------------- */
/* SECCIÓN DE NOSOTROS */
/* -------------------------------- */

.container-nosotros {
  max-width: 1100px;
  grid-area: we-contain;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "nosotros nosotros nosotros nosotros"
    "valores valores mision mision"
    "valores valores vision vision";
  margin: auto;
  text-align: center;
  column-gap: 8px;
  row-gap: 8px;
  padding: 100px 0 0 0;
}

.box-nosotros {
  padding: 30px 0;
  color: #fff;
  border-radius: 20px;
}

.box-nosotros h3 {
  font-size: 23px;
  color: #111135;
  margin-bottom: 20px;
}

.box-nosotros p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  width: 90%;
  margin: auto;
}

.box-nosotros h3::after {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  background-color: #000000;
  margin: 5px auto;
}

.historia,
.mision,
.vision,
.valores {
  background-color: #fdfdfd;
  border: 1px solid #ddd;
}

.historia {
  grid-area: nosotros;
}

.mision {
  grid-area: mision;
}

.vision {
  grid-area: vision;
}

.valores {
  grid-area: valores;
}

.valores h3 {
  padding-bottom: 12px;
}

.valores ul li {
  margin: 20px 0;
}

.valores ul li span {
  color: #333;
  font-weight: 700;
}

/* -------------------------------- */
/* SECCIÓN DE PRODUCTOS */
/* -------------------------------- */

.container-productos {
  max-width: 1100px;
  grid-area: productos;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "descripcion descripcion descripcion"
    "slide slide slide";
  padding: 100px 0;
  margin: auto;
  text-align: center;
}

.productos_descripcion {
  grid-area: descripcion;
  padding: 30px 0;
  background-color: #fff;
}

.productos_descripcion h3 {
  margin: 0 auto;
  font-size: 30px;
  width: 65%;
  color: #0a3dac;
  font-weight: 700;
}

.productos_descripcion p {
  color: #727272;
  margin: 0 auto;
  font-size: 18px;
  width: 70%;
  padding: 10px 0 0 0;
}

.slide_productos {
  grid-area: slide;
  position: relative;
}

.slider {
  width: 100%;
  justify-content: center;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  flex-wrap: wrap;
  margin-top: 8px;
  opacity: 0;
  display: none;
}

.slider.active {
  opacity: 1;
  display: flex;
}

.slider_bidon {
  padding: 15px;
}

.box-productos {
  box-sizing: border-box;
  max-width: 300px;
  background-color: #fff;
  overflow: hidden;
  /* Para recortar contenido que se extienda más allá del contenedor */
  margin: 4px 0;
}

.box-productos:hover {
  transform: scale(1.02);
  /* Aumenta el tamaño de la imagen al 102% en el hover */
  filter: contrast(0.8);
  /* Aumenta el contraste de la imagen en el hover */
}

.box-productos img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

.box-productos h3 {
  font-size: 21px;
  font-weight: 700;
  color: #727272;
}

.box-productos p {
  font-size: 21px;
  color: #727272;
  padding: 0 0 30px 0;
}


/* FLECHAS */

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-left {
  left: 4%;
}

.arrow-right {
  right: 4%;
}

#left,
#right {
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  background-color: #fff;
}

/* -------------------------------- */
/* SECCIÓN DE CONTACTO */
/* -------------------------------- */

.container-contacto {
  width: 1100px;
  grid-area: contacto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #333333;
  color: #fff;
}

.side-contacto {
  width: 65%;
  padding: 23px 0;
}

.side-contacto h2 {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
  padding: 15px 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.info-item {
  width: 300px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.info-item h3 {
  font-size: 22px;
  padding-bottom: 5px;
}

.info-item p {
  font-size: 16px;
  font-weight: 400;
}

.info-item a i {
  font-size: 22px;
  padding: 0 5px;
  color: #000;
}

.info-item:last-child {
  width: 620px;
}

.side-ubicacion {
  width: 35%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.side-ubicacion h2 {
  width: 100%;
  font-size: 35px;
  font-weight: 700;
  padding: 15px 0;
}

.mapa {
  width: 100%;
  padding: 0 20px;
}

/* -------------------------------- */
/* SECCIÓN DE FOOTER */
/* -------------------------------- */

.container-footer {
  grid-area: footer;
  width: 100%;
  color: white;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  font-size: 20px;
}

.container-footer a {
  text-decoration: none;
  color: #0b5ecd;
}

/* -------------------------------------------------- */
/* ----------------------RESPONSIVE TABLET---------------------- */
/* -------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    display: none;
  }

  .responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 100px;
    padding: 10px 0;
  }

  .responsive .menu-ul {
    width: 100%;
    display: block;
  }

  .responsive .menu-ul .menu-li {
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
  }

  .menu-li {
    font-size: 24px;
    right: 0;
  }

  .responsive ul li a {
    color: #fff;
  }

  #icono-nav {
    display: block;
  }

  .menu-li a:hover {
    color: #0178ff;
  }

  /* -------------------------------- */
  /* SECCIÓN HEADER */
  /* -------------------------------- */

  /* -------------------------------- */
  /* SECCIÓN PORTADA SLIDE */
  /* -------------------------------- */

  .portada-slide ul {
    width: 100%;
  }

  .portada-slide li {
    width: 100%;
  }

  .portada-slide li h2 {
    font-size: 50px;
  }

  .portada-slide li:first-child h2 {
    margin: auto;
    margin-top: 250px;
    padding: 50px;
    width: 900px;
  }

  .portada-slide li:nth-child(2) h2 {
    margin: 100px 0 0 0;
    width: 1200px;
    color: #0b5ecd;
  }

  .portada-slide li:nth-child(3) h2 {
    margin: 50px 250px 0 100px;
    width: 1200px;
  }

  /* -------------------------------- */
  /* SECCIÓN DE NOSOTROS */
  /* -------------------------------- */

  .container-nosotros {
    width: 80%;
  }

  /* -------------------------------- */
  /* SECCIÓN DE PRODUCTOS */
  /* -------------------------------- */
  .box-productos:hover {
    transform: none;
    filter: none;
  }

  /* -------------------------------- */
  /* SECCIÓN DE CONTACTO */
  /* -------------------------------- */
  .container-nosotros,
  .container-productos,
  .container-contacto {
    width: 80%;
  }

  .side-contacto,
  .side-ubicacion {
    width: 100%;
  }

  .info-item {
    width: 290px;
  }

  .info-item:last-child {
    width: 70%;
  }

  /* -------------------------------- */
  /* SECCIÓN DE FOOTER */
  /* -------------------------------- */
  .container-footer {
    width: 100%;
    text-align: center;
  }
}

/* -------------------------------------------------- */
/* ----------------------RESPONSIVE PHONE---------------------- */
/* -------------------------------------------------- */

@media screen and (max-width: 767px) {
  nav {
    display: none;
  }

  .responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 100px;
    padding: 10px 0;
  }

  .responsive .menu-ul {
    width: 100%;
    display: block;
  }

  .responsive .menu-ul .menu-li {
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
  }

  .menu-li {
    font-size: 24px;
    right: 0;
  }

  .responsive ul li a {
    color: #fff;
  }

  #icono-nav {
    display: block;
  }

  .menu-li a:hover {
    color: #0178ff;
  }

  /* -------------------------------- */
  /* SECCIÓN HEADER */
  /* -------------------------------- */

  /* -------------------------------- */
  /* SECCIÓN PORTADA SLIDE */
  /* -------------------------------- */

  .portada-slide ul {
    width: 100%;
  }

  .portada-slide li {
    width: 100%;
  }

  .portada-slide li h2 {
    font-size: 50px;
  }

  .portada-slide li:first-child h2 {
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    width: 900px;
  }

  .portada-slide li:nth-child(2) h2 {
    margin: 50px 0 0 0;
    width: 1200px;
    color: #0b5ecd;
  }

  .portada-slide li:nth-child(3) h2 {
    margin: 50px 50px 0 50px;
    width: 1200px;
  }

  /* -------------------------------- */
  /* SECCIÓN DE NOSOTROS */
  /* -------------------------------- */

  .container-nosotros {
    grid-template-areas:
      "nosotros nosotros nosotros nosotros"
      "valores valores valores valores"
      "mision mision mision mision"
      "vision vision vision vision";
  }

  /* -------------------------------- */
  /* SECCIÓN DE PRODUCTOS */
  /* -------------------------------- */
  .box-productos:hover {
    transform: none;
    filter: none;
  }

  /* -------------------------------- */
  /* SECCIÓN DE CONTACTO */
  /* -------------------------------- */
  .container-nosotros,
  .container-productos,
  .container-contacto {
    width: 90%;
  }

  .side-contacto,
  .side-ubicacion {
    width: 100%;
  }

  .info-item {
    width: 290px;
  }

  .info-item:last-child {
    width: 70%;
  }

  /* -------------------------------- */
  /* SECCIÓN DE FOOTER */
  /* -------------------------------- */
  .container-footer {
    width: 100%;
    text-align: center;
  }
}